<div class="exercise-item ion-activatable ripple-parent animate-show" [routerLink]="['/exercise', exercise.id]">
  <div class="title">
    {{exercise?.name}}
  </div>
  <div class="info" *ngIf="exercise?.weight || exercise?.series || exercise?.repetitions">
    <div class="block" *ngIf="exercise?.weight">
      <strong>Peso:</strong> {{exercise?.weight}}
    </div>
    <div class="block" *ngIf="exercise?.series">
      <strong>Séries:</strong> {{exercise?.series}}
    </div>
    <div class="block" *ngIf="exercise?.repetitions">
      <strong>Repetições:</strong> {{exercise?.repetitions}}
    </div>
  </div>

  <ion-ripple-effect></ion-ripple-effect>
</div>
