form {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  gap: 15px;

  ion-button {
    width: 60%;
    margin: 30px auto 15px;
  }

  ion-item {
    --border-color: var(--ion-color-medium-shade);

    ion-input {
      input.native-input.sc-ion-input-md {
        padding-top: 16px;
        padding-bottom: 0px;
      }

      &[type="color"] {
        input {
          height: 30px;
        }
      }
    }
  }
}
