<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Treinos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [ngClass]="{'active': modoTreino}" class="btn-moto-treino modo-treino" (click)="alternarModoTreino()">
        Modo Treino <ion-icon name="barbell-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment (ionChange)="segmentChanged($event)" [scrollable]="true" [value]="treinoSelected?.id">
    <ion-segment-button *ngFor="let treino of treinos" [value]="treino.id" (press)="removeTreino(treino.id)">
      {{treino.nome}}
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content [fullscreen]="true" [ngClass]="{'modo-treino': modoTreino}">

  <list-exercicios [treino]="treinoSelected" [showList]="treinos.length > 0" [modoTreino]="modoTreino"></list-exercicios>

  <div class="vazio" *ngIf="treinos?.length == 0">
    <ion-img src="assets/img/Gym-rafiki.svg"></ion-img>
    <strong>Nenhum treino encontrado</strong>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addTreino()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
