ion-title{
  font-size: 22px;
  font-weight: bolder;
}

ion-segment{
  --background: var(--ion-color-light)
}

ion-fab {
  animation: forwards show 300ms;
}

.vazio {
  max-width: 80%;
  margin: 50px auto;
  text-align: center;
}

ion-buttons {
  border-radius: 7px;
  overflow: hidden;
}

.btn-moto-treino {
  margin: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  ion-icon {
    margin-left: 10px;
  }

  &.active {
    background-color: rgba(var(--ion-color-primary-rgb), .1);
    color: var(--ion-color-primary);
  }
}

.modo-treino {
  ion-fab {
    animation: forwards hide 300ms;
    pointer-events: none;
  }
}
