ion-header ion-toolbar {
  --background: url("../../assets/img/header-glass.png") top center / cover
    no-repeat;
  height: 120px;
}

ion-content {
  --background: linear-gradient(
    45deg,
    var(--ion-color-primary),
    var(--ion-color-secondary),
    var(--ion-color-primary),
    var(--ion-color-secondary)
  );
}

ion-title {
  font-size: 22px;
  font-weight: bolder;
}

ion-segment {
  margin-top: 5px;
  padding: 0px 10px;
  // position: sticky;
  // top: 5px;

  ion-segment-button {
    color: var(--ion-color-primary-contrast);
    margin: 5px;
    overflow: hidden;
    box-shadow: none;

    --background: var(--ion-color-primary);
    --indicator-height: 0px;
    --background-checked: var(--ion-color-secondary);
    --background-focused: transparent;
    --background-hover: transparent;
    --border-radius: 15px;
  }
}

ion-fab {
  animation: forwards show 300ms;
  backdrop-filter: blur(5px);

  ion-fab-button {
    --background: rgba(var(--ion-color-primary-rgb), 0.2);
    --color: var(--ion-color-primary-contrast);
    border-radius: 50%;
    border: 1px solid rgba(var(--ion-color-light-rgb), 0.1);
  }
}

.vazio {
  max-width: 80%;
  margin: 50px auto;
  text-align: center;
}

ion-buttons {
  border-radius: 7px;
  overflow: hidden;
}

.btn-moto-treino {
  margin: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  ion-icon {
    margin-left: 10px;
  }

  &.active {
    background-color: rgba(var(--ion-color-primary-rgb), 0.1);
    color: var(--ion-color-primary);
  }
}

.modo-treino {
  ion-fab {
    animation: forwards hide 300ms;
    pointer-events: none;
  }
}

ion-item.modo-treino {
  --background: transparent;
  --inner-padding-end: 0px;

  ion-label {
    color: var(--ion-color-primary-contrast);
    margin-right: 10px;
    font-weight: bold;
  }

  ion-toggle {
    --handle-height: 25px;
    --handle-width: 25px;
    border: 1px solid rgba(var(--ion-color-light-rgb), 0.1);
    border-radius: 25px;
  }
}
